*{
font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #333a56;
}
.background-uniforming{
    background-color: #fff;
}

body, nav, ul, li {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h2, p {
text-align: center;
}

.two-part-grid{
    display: flex;
    background-color: white;
    padding: 40px 20vw;
    justify-content: space-evenly;
}

.two-part-grid img{
    max-width: 360px;
    border-radius: 20px;
}

.two-part-grid p{
    text-align: left;
}

.two-part-grid-item{
    min-width: 50%;
}

hr.solid {
    border-top: 3px solid #bbb;
  }

.navbar {
z-index: 15;
background-color: #333a56;
display: flex;
justify-content: space-between;
gap: 0;
align-items: center;
height: 60px;
padding: 0 10%;
box-shadow: 0px 0px 2px black;
}

.navbar-left {
display: flex;
align-items: center;
}

.name {
color: white;
font-weight: bold;
font-size: 1.2rem;
text-shadow: 0 0 5px black;
}

.navbar-right {
display: flex;
align-items: center;
}

.nav-link {
color: lightgray;
text-decoration: none;
padding: 0 15px;
}

/* Change link color on hover */
.nav-link:hover {
color: white;
}

.banner-image{
display: inline-block;
position: relative;
align-items: center;
max-height: 80vh;
overflow: hidden;
box-shadow: 0px 0px 2px black;

}
.banner-image img{
z-index: 1;
max-width: 190%;
object-fit: cover;
object-position: -67vw -50vh;
}

.overlay {
z-index: 2;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
background-color: #52658fcc;
justify-content: center;
align-items: center;
object-fit: cover;
}

.overlay h1 {
color: white;
font-size: 50px;
font-weight: bold;
text-align: center;
padding: 20px;
width: 100vw;
text-shadow: 0 0 10px black;
}
.cta-intro-section{
text-align: center;
padding: 0px 20% 10px;
color: #000;
margin-top: 0px;
margin-bottom: 20px;
}
.cta-intro-section h1, .about-me-section h1, .cta-sample-section h1{
    margin-bottom: 20px;
}

.about-me-section{
text-align: center;
padding: 10px 20%;
color: #000;
margin-bottom: 20px;
}
.white-divider{
text-align: center;
background-color: #fff;
padding: 20px;
}

.three-part-grid{
display: flex;
justify-content: space-between;
padding: 0;
margin: 0;
color: #fff;
text-align: center;
}
.grid-square{
width: 33%;
height: auto;
padding: 15px 5%;
padding-bottom: 30px;
box-shadow: 0px 0px 2px black;
}
.grid-square h2{
font-size: 30px;
color: #eee;
padding-top: 0px;
}
.grid-square img{
max-width: 100px;
padding: 20px 0px 0px 0px;
}

.blueberry{
background-color: #333a56;
}
.apricot{
background-color: #52658f;
}
.citrus{
background-color: #9bbbe3;
}
.white{
    background-color: #fff;
}

.what-i-do-section{
box-shadow: 0px 0px 2px black;
text-align: center;
background-color: #333a56;
padding: 20px 0px;
color: #fff;
}
.grid-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
background-color: #333a56;
}

.grid-item {
background-color: #333a56;
padding: 25px;
display: flex;
justify-content: center;
align-items: center;
}

.content {
color: #fff;
text-align: center;
}

h1 {
font-size: 30px;
margin-bottom: 5px;
}

p {
font-size: 16px;
margin: 0;
}

.cta-sample-section{
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 20px;
    }


.bar {
color: white;
text-align: center;
padding: 10px;
cursor: pointer;
font-size: 24px;
box-shadow: 0px 0px 2px black;
}
bar:hover{
    cursor: pointer;
}
.bar::after{
content: " >";
}
.bar:hover::after {
    display: inline-block;
    margin-left: 5px; /* Add some space between the text and ">" symbol */
    animation: oscillate 0.6s ease-in-out infinite; /* Apply the animation */
  }

@keyframes oscillate {
    0%, 100% {
      transform: translateX(0); /* Starting and ending position */
    }
    50% {
      transform: translateX(5px); /* Middle position, move 5px to the right */
    }
  }

.samples-accordion p{
padding-top: 20px;
}


/* Hide all "sample-links" sections by default */
.sample-links {
    display: none;
    overflow: hidden; /* Hide the content initially */
    transition: height 0.3s ease; /* Add a transition for smoother animation */
  }
  
  /* Show "sample-links" sections with class "show" */
  .sample-links.show {
    display: flex;
    height: auto; /* Set height to auto when visible to trigger the animation */
  }
  
  .get-in-touch {
    text-align: center;
    padding: 30px;
  }
  
  .get-in-touch h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  textarea {
    min-height: 100px; /* Set a minimum height for the textarea */
  }
  
  button {
    padding: 10px 20px;
    background-color: #333a56;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #52658f;
  }

  footer{
    color: #fff;
    background-color: #333a56;
    padding: 10px;
    text-align: center;
  }
/* Hide nav links and display only the "name" element centered when viewport is small horizontally */
@media screen and (max-width: 800px) {
    .navbar{
        flex-direction: column;
    }
    .navbar-left {
      display: none;
    }
    .navbar-right{
        margin-top: 20px;
    }
  }
  
  /* Display grid-square elements in a single column when viewport is small horizontally */
  @media screen and (max-width: 800px) {
    .banner-image img{
        object-position: -16vw 0vh;
    }
    .overlay h1{
        font-size: 20px;
    }
    .three-part-grid {
      flex-direction: column;
    }
    .grid-square {
        width: 100%;
        padding: 20px 0;
      }
      .grid-square h2 {
        font-size: 20px;
        padding: 0 40px;
      }
      .grid-square img {
        max-width: 80px;
        margin: 0 auto;
      }
    .what-i-do-section .grid-container {
        grid-template-columns: 1fr;
      }
    .two-part-grid{
        flex-direction: column;
        align-items: center;
    }
    .two-part-grid h1{
        font-size: 22px;
    }
    footer{
        font-size: 10px;
    }
  }

  